body {
    font-family: 'Calibri', sans-serif;
    background-color: #231f22;
    color: #cecccc;
}

label, .heading {
    font-size: 20px;
}

button {
    margin-left: 10px;
    padding: 0;
    border: 0;
    height: 26px;
    background: #e5cdc8;
    color: #913d88;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
    cursor: pointer;
}

button:focus {
    outline-color: #bc5090;
}

#segments {
    font-family: monospace;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 1;
}

.double-column {
    display: flex;
    flex-direction: column;
    flex-basis: 100%;
    flex: 2;
}

#plot {
    width: 70vw;
    height: 70vh;
}

.controls-container {
    max-width: 350px;
}

.mt-50 {
    margin-top: 50px;
}

.mt-10 {
    margin-top: 10px;
}

.center-vertical {
    align-items: center;
}

/* range slider */
input[type=range].slider {
    -webkit-appearance: none;
    margin: 1px 0 1px 10px;
}
input[type=range].slider:focus {
    outline: none;
}
input[type=range].slider::-webkit-slider-runnable-track {
    width: 100%;
    height: 26px;
    cursor: pointer;
    background: #e5cdc8;
}
input[type=range].slider::-webkit-slider-thumb {
    height: 27px;
    width: 16px;
    background: rgba(188, 80, 144, 0.93);
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -0.7px;
}
input[type=range].slider:focus::-webkit-slider-runnable-track {
    background: #e5cdc8;
}
input[type=range].slider::-moz-range-track {
    width: 100%;
    height: 26px;
    cursor: pointer;
    background: #e5cdc8;
}
input[type=range].slider::-moz-range-thumb {
    height: 27px;
    width: 16px;
    background: rgba(188, 80, 144, 0.93);
    border: 0;
    border-radius: 0;
    cursor: pointer;
}
input[type=range].slider::-ms-track {
    width: 100%;
    height: 26px;
    cursor: pointer;
    background: transparent;
    border-color: transparent;
    color: transparent;
}
input[type=range].slider::-ms-fill-lower {
    background: #e5cdc8;
}
input[type=range].slider::-ms-fill-upper {
    background: #e5cdc8;
}
input[type=range].slider::-ms-thumb {
    width: 16px;
    background: rgba(188, 80, 144, 0.93);
    cursor: pointer;
    height: 27px;
}
input[type=range].slider:focus::-ms-fill-lower {
    background: #e5cdc8;
}
input[type=range].slider:focus::-ms-fill-upper {
    background: #e5cdc8;
}

